<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftyMultipleStoryboards.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>151997E01BF94D2000D7A5AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>151997F71BF94D2000D7A5AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>151998021BF94D2000D7A5AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
